body {
    background-color:aliceblue;
}
.login-div {
    padding: 15px;
    border: solid 1px #808080c7;
    box-shadow: 0 0 2.5px grey;
    display: inline-block;
}
.login-div input {
    display: block;
    margin-bottom: 10px;
}
.login-div input[type="email"] {
    border: solid 1px rgb(29, 29, 65);
}
.login-div input[type="password"] {
    border: solid 1px rgb(33, 33, 55);
}
input[class*="control"] { /* *, the class contains * somewhere in its name*/
    display: block;
}

.login-div button:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.350);
}
.login-div input:focus {
    border: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.650);
}

ul li:last-child {
    font-style: italic;
}
ul li:nth-child(2) {
    color: rgb(100, 100, 100);
}